body{
    font: 20px Arial, sans-serif;

}


.servicos{
    background-color: darkolivegreen;
}

.quem-somos{
    background-color: #c0c0d4;
    color: white;
}

.margin{   
    padding-bottom: 50px;    
    padding-top: 10px;
}

.parceiros{
    background-color: #58FAF4;

}

.bg-footer{
    background-color: black;
    color: white;
}